{% extends 'base.html' %}

{% set page_head_title = 'CAKES' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('signup.static', filename='css/signup.css') }}">
{% endblock %}


{% block page_body_main_content %}
    <div id="MainCenter" class="Center">

        <form action="action_page.php" style="border:none">
            <div class="info">
                <h1 class="title1">הרשמה לניוזלטר</h1>
                <label for="name" class="labels"><b>שם מלא</b></label><br><br>
                <input type="text" placeholder="הזן שם מלא" name="name" required>  <br><br>
                <label for="phone" class="labels"><b>מספר טלפון</b></label><br><br>
                <input type="tel" id="phone" name="phone" placeholder="05XXXXXXXX" pattern="[0][5][0-9]{8}" required><br><br>
                <label for="email" class="labels"><b>כתובת דואר אלקטרוני</b></label><br><br>
                <input type="email" placeholder="הזן כתובת דואר אלקטרוני" id="email" name="email" required><br><br>
            </div>
            <button class="button1" type="submit" class="label">הצטרף</button>
            <br>
            <br>
        </form>
    </div>
{% endblock %}
    


{% block page_body_js %}
    <script src="{{ url_for('newsletter.static', filename='css/newsletter.js') }}"></script>
{% endblock %}
