{% extends 'base.html' %}

{% set page_head_title = 'CAKES' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('packs.static', filename='css/packs.css') }}">
{% endblock %}

{% block page_body_main_content %}
    <div class="packs">
        <div id="greeting">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ message }}
            {% endif %}
            {% endwith %}
        </div>


        <div class="title">
            <h1 for= "cake1">עוגות קטנות</h1>
            <h2 for= "cake1">שילוב של מספר קינוחים קטנים זאת האופציה המושלמת למי שפשוט לא יכולים להחליט</h2>
        </div>

        <form action="/add_mini_crack" method="post" name="add_first_small_cake" onsubmit="return packs_validation1()">
{#            onsubmit="return signup_validation()" style="border:none">#}
            <div class="option1">
                <param id="crack_mini" name="crack_mini" value="קראק פאי">
                <h1 for= "option1">פרוסת קראק פאי</h1>
                <h2 for= "option1">מחיר: 35 שח</h2>
                <img id="option1" src="{{ url_for('packs.static', filename='media/crack_pai.jpg') }}" alt="crack_pai">
                <br>
                <input name = "quantity1" id= "quantity1" for= "add1" type ="number">
                <label for="quantity1">כמות</label>
            </div>
            <input id="first_small_quantity" type="Submit" name="add_first_small_cake" value="הוסף לעגלה">
        </form>


        <form action="/add_mini_petel" method="post" name="add_second_small_cake" onsubmit="return packs_validation2()"" style="border:none">
            <div class="option2">
                <param id="petel_mini" name="petel_mini" value="קינוח פטל">
                <h1 for= "option2">קינוח פטל</h1>
                <h2 for= "option2">מחיר: 35 שח</h2>
                <img id="option2" src="{{ url_for('packs.static', filename='media/petel.jpg') }}" alt="petel">
                <br>
                <input id= "quantity2" name = "quantity2" for= "add1" type ="number">
                <label for="quantity2">כמות</label>
            </div>
            <input id="second_small_quantity" type="Submit" name="add_second_small_cake" value="הוסף לעגלה">
        </form>


        <form action="/add_mini_saint" method="post" name="add_third_small_cake" onsubmit="return packs_validation3()" style="border:none">
            <div class="option3">
                <param id="saint_mini" name="saint_mini" value="סנט הונורה קטן">
                <h1 for= "option3">סנט הונורה קטן</h1>
                <h2 for= "option3">מחיר: 35 שח</h2>
                <img id="option3" src="{{ url_for('packs.static', filename='media/saint_small.jpg') }}" alt="saint">
                <br>
                <input id= "quantity3" name = "quantity3" for= "add1" type ="number">
                <label for="quantity3">כמות</label>
            </div>
            <input id="third_small_quantity" name = "quantity3" type="Submit" name="add_third_small_cake" value="הוסף לעגלה">
        </form>


        <form action="/add_mini_blueberries" method="post" name="add_fourth_small_cake" onsubmit="return packs_validation4()" style="border:none">
            <div class="option4">
                <param id="fourth_option" value="פאי אוכמניות קטן">
                <h1 for= "option4">פאי אוכמניות קטן</h1>
                <h2 for= "option4">מחיר: 35 שח</h2>
                <img id="option4" src="{{ url_for('packs.static', filename='media/blueberries.jpg') }}" alt="blueberries">
                <br>
                <input id= "quantity4" name = "quantity4" for= "add1" type ="number">
                <label for="quantity4">כמות</label>
            </div>
            <input id="fourth_small_quantity" type="Submit" name="add_fourth_small_cake" value="הוסף לעגלה">
        </form>

    </div>

{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('packs.static', filename='js/packs.js') }}"></script>
{% endblock %}


