<!-- FOOTER -->

<link rel="stylesheet" href="{{ url_for('nav_footer.static', filename='css/nav_footer.css') }}"/>

<div class="footerNavBar">

    <div class="follow_us">
        <a href="https://www.instagram.com/lumiere_or/"> <img id="follow" src="{{ url_for('nav_footer.static', filename='media/instagram.png') }}" alt = "follow us"></a>
    </div>

    <div class="details" >
            <h3>שירות לקוחות</h3>
            <h3>057-7777888</h3>
            <h3>support@lumiere.com</h3>

    </div>
</div>

