
{# CSS #}
<link rel="stylesheet" href="{{ url_for('nav_footer.static', filename='css/nav_footer.css') }}"/>

<!------- nav bar --------->
<div id="navbar">
    <a href="https://goo.gl/maps/Ror8JerRBGjeHwZ4A" class="btn">מיקום העסק</a>
    <a href="https://waze.com/ul?il=32.08051,34.81238&navigate=yes" class="btn">ניווט לעסק</a>
    <a href="termsNprivacy" class="btn">תנאי שימוש באתר</a>
    <a href="contact_us" class="btn">צור קשר</a>
    <a href="newsletter" class="btn">הרשמה לניוזלטר</a>

    {% if session %}
        <a href="review" class="btn">כתוב ביקורת</a>
        <a href="shopping_cart" class="btn">עגלת הקניות</a>



        <form method="GET" action="/logout" style="display: inline">
            <input class="btn" type="submit" name="Log Out" value="Log Out">
        </form>
    {% else %}
        <a class="btn" href="signin">כניסה</a>
        <a class="btn" href="signup">הרשמה</a>
    {% endif %}


</div>
{% if session %}
    <br> <br>       <label class="greeting"> {{ full_name }}  ברוכ/ה שובך </label>
{% endif %}
<br>
<a href=""> <img src="{{ url_for('nav_footer.static', filename='media/logo.jpg') }}"  id="logo" alt = "logo"></a>

<script src="{{ url_for('nav_footer.static', filename='js/nav.js') }}" id="logo"></script>



