* {
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: myBestFont;
    src: url('/static/media/OurFont.ttf');
}

body {
    background-color: rgb(223,207,194);
}

.btn{
    color: whitesmoke;
    background: #454545;
    padding:7px 7px;
    font-size:20px;
    text-decoration:none;
    text-align: center;
    letter-spacing:1px;
    text-transform:uppercase;
    font-family: myBestFont;
}

.greeting{
    color: #000000;
    background: #ea9b9b;
    padding:7px 7px;
    font-size:20px;
    text-decoration:none;
    text-align: center;
    letter-spacing:1px;
    text-transform:uppercase;
    font-family: myBestFont;
}

.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background: #e1e1e1;
    padding:10px 10px;
    color:#1b1b1b;
}

/*---header-----*/



.navBar{
    display: grid;
    grid-area: 1  / 1 / 2 / 6;
    height: 20%;
    background-color:rgb(198,168,153) ;
    flex-flow: column wrap;
    text-align-last: center;
    font-family: myBestFont;
}

#logo{
    width: 10cm;
    height: 6.88cm;
    padding: 10px 0;
}


/* Style the navbar */

a:hover {
    color: #0088a9;
}

a {
    transition: all 0.3s ease 0s;
}


/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}



/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 20px;
}


/*---footer-----*/

.footerNavBar{
    display: grid;
    grid-template-areas:
    'details details follow_us  ';
    background-color:rgb(198,168,153) ;
    height: 30%;
}


#follow{
    grid-area: follow_us;
    width: 30%;
    height: auto;
    padding: 70px 0;
}

.details{
    grid-area: details;
    padding: 50px;


}