
{% extends 'base.html' %}

{% set page_head_title = 'CAKES' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('pickup.static', filename='css/pickup.css') }}">
{% endblock %}

{% block page_body_main_content %}
    <div id="Container" class="grid-container" dir=rtl>

        <div id="MainCenter" class="Center">
            <h1 class="title1">איסוף עצמי</h1>
            <a href=send_to_delivery> <button class="button1" type="button">עבור למשלוח</button></a>
            <br>
            <br>
            <span>בחר תאריך</span>
            <input type="date" required> <br><br><br>
            <span>בחר שעה</span>
            <select name="" id="" class="year-input" required>
                <option value="time" selected disabled>שעת האיסוף</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
            </select> <br> <br> <br>
                    <br> <br> <br>
            <br><br>
            <br>
            מחיר באיסוף עצמי= {{ price_sum }}
            <br>
            <a href=payment> <button class="button1" type="button">תאם איסוף ועבור לתשלום</button></a>
            <br>
            <br>
            <img src="{{ url_for('packs.static', filename='media/pack_love.jpg') }}" alt="pack" width=30% height=auto>
        </div>
    </div>    
{% endblock %}
