{% extends 'base.html' %}

{% set page_head_title = 'termsNprivacy' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('delivery.static', filename='css/Delivery.css') }}">
{% endblock %}


{% block page_body_main_content %}

    <div id="Container" class="grid-container" dir=rtl>
            <div id="MainCenter" class="Center">
            </p>
            <h1>תנאי השימוש באתר</h1>
            <h3>תקנון השימוש באתר הנ"ל נכתב בלשון זכר אך <br> האמור בו מתייחס לנשים וגברים כאחד.</h3>
            <p><br><br></p>
            <ol>
            <li>
            <p>אתר זה שייך לקונדיטוריית בוטיק ומיועד למכירת קינוחים. הנך מוזמן להשתמש בו בכפוף להסכמתך לתנאי השימוש אשר יפורטו להלן.
            שים לב כי התכנים באתר עשויים להשתנות מעת לעת וכי הנהלת האתר שומרת לעצמה הזכות לעדכן בעתיד את תנאי השימוש המוצגים להלן ללא התראה או אזכור מיוחד בערוצי האתר השונים.</p>
            </li>
            <p><br><br></p>
            <li>
            <p>האתר כמו גם כל המידע שבו לרבות עיצוב האתר, קוד האתר, קבצי מדיה לרבות גרפיקות, סרטונים, תמונות, טקסטים, קבצים המוצעים להורדה וכל חומר אחר אשר מוצג באתר שייכים במלואם לאתר הנ"ל ומהווים קניין רוחני בלעדי של אתר זה. אין לעשות בהם שימוש ללא אישור כתוב מראש מבעלי האתר. יתר על כן, אין להפיץ, להעתיק, לשכפל, לפרסם, לחקות או לעבד פיסות קוד, גרפיקות, סרטונים, סימנים מסחריים או כל מדיה ותוכן אחר מבלי שיש ברשותכם אישור כתוב מראש מבעלי האתר.</p>
            </li>
            <p><br><br></p>
            <li>
            <p>אנו שואפים לספק לכם את המידע המוצג באתר ללא הפרעות אך יתכנו הפרעות בזמינות האתר בשל שיקולים טכניים, תקלות צד ג או אחרים. לפיכך, איננו יכולים להתחייב כי האתר יהיה זמין לכם בכל עת ולא יינתן כל פיצוי כספי או אחר בשל הפסקת השירות או הורדת האתר.</p>
            </li>
            <p><br><br></p>
            <li>
            <p>הנהלת האתר שומרת לעצמה את הזכות לחסום כל משתמש ללא צורך לספק תירוץ אשר מקובל על הגולש. מעבר לכך, צוות האתר יעשה כל שביכולתו להגן על פרטי המשתמשים הרשומים באתר אך במקרים בהם יעלה בידיו של צד שלישי להשיג גישה למידע מוסכם בזאת כי לגולשים, משתמשים וחברים באתר לא תהה כל תביעה, טענה או דרישה כלפי צוות האתר.</p>
            </li>
            <p><br><br></p>
            <li>
            <p>באתר זה עשוי להיעשות שימוש בקבצי קוקיז (במיוחד עבור משתמשים רשומים) בכדי לשמור תיעוד סטטיסטי אנונימי של גולשים ולנתח את תנועות הגולשים, הרגלי הגלישה באתר וזמן השהייה. בכל העת ולבד מאשר גולשים המחוברים לאתר המידע הנשמר הוא אנונימי לחלוטין ואין בו את שם הגולש או כל פרט מזהה אחר.</p>
            </li>
            <p><br><br></p>
            <li>
            <p>במקרה בו התגלעה כל מחלוקת באשר לשימוש באתר יוסכם להלן כי העניין נמצא תחת סמכות השיפוט הבלעדי של החוק הישראלי תוך שימוש במערכת בתי המשפט הישראליים בלבד במחוז תל אביב.</p>
            </li>
            </ol>
            <p>	  
        </div>
    </div>
{% endblock %}

