
<!DOCTYPE html>
 <html lang="{{ page_lang|default("en", true) }}">
    <head>
    {% block page_head %}
        {# Title #}
        <title>{{ page_head_title_author|default('GROUP 6 PART 3 - IDAN NIV TOMER OR', true) }} | {{ page_head_title|default('Lumière', true) }}</title>

        {# Meta tags #}
        {% block page_head_meta %}
            <base href="/"/>
            <meta charset="UTF-8"/>
            <meta name="author" content="GROUP 6 PART 3 - IDAN NIV TOMER OR"/>
            {% block page_head_meta_extra %}{% endblock %}
        {% endblock %}

        {# favicon #}
        <link rel="icon" href="{{ url_for('static', filename='media/img/favicon/flask-favicon.png') }}"/>

        {# Base #}
        <base href="/"/>

        {# CSS #}
        {% block page_head_css %}{% endblock %}
    {% endblock %}
    </head>
    <body>
        {% block page_body_content %}

            {# Header #}
            {% block page_body_header %}
                <header class="page-header">
                    {% block page_body_header_content %}

                        {# Main Menu #}
                        {% block page_body_header_content__main_menu %}
                            <nav class="nav_footer">
                                {% block page_body_header_content__main_menu_content %}
                                    <ul>
                                        {% block page_body_header_content__main_menu_content_links %}
                                            {% include 'nav.html' %}
                                        {% endblock %}
                                    </ul>
                                {% endblock %}
                            </nav>
                        {% endblock %}

                    {% endblock %}
                </header>
            {% endblock %}

            {# Main #}
            {% block page_body_main %}
                <main class="page-main">
                  {% block page_body_main_content %}
                  {% endblock %}
                </main>
            {% endblock %}

            {# Footer #}
            {% block page_body_footer %}
                <footer class="page-footer">
                  {% block page_body_footer_content %}
                      {% include 'footer.html' %}
                  {% endblock %}
                </footer>
            {% endblock %}

        {% endblock %}

        {# JS #}
        {% block page_body_js %}
        {% endblock %}
    </body>
</html>
