{% extends 'base.html' %}

{% set page_head_title = 'Shopping Cart' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('shopping_cart.static', filename='css/shopping_cart.css') }}">
{% endblock %}


{% block page_body_main_content %}

    <div id="greeting">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {{ message }}
                {% endif %}
            {% endwith %}
    </div>

    היי גברתי
    כיף לראות אותך עימנו

    העגלה שלך מכילה:

    {% if products %}
        <h2>רשימת מוצרים</h2>
        <ul>
        {% for product in products %}
            <li><form action="/delete_product" method="post" style="display: inline">
                <input type="hidden" name="productID" VALUE="{{ product.ProductID }}" >
                <input type="submit" VALUE="מחק" >
            </form>
             שם המוצר {{ product.ProductName }}, כמות: {{ product.Quantity }}    מחיר: {{ product.Quantity * product.Price }} </li>
        {% endfor %}
        </ul>
    {% endif %}

    <br>
    <br>
    סך הכל מחיר= {{ price_sum }}
    <br>



    <form action="/clear_cart" method="post" name="clear_cart" style="border:none">
            <input id="fourth_small_quantity" type="Submit" name="clear_cart" value="ריקון העגלה">
    </form>


    <form action="/send_to_delivery" method="post" style="display: inline">
                <input type="hidden" name="price" VALUE="{{ price_sum }}" >
                <input type="submit" VALUE="משלוח" >
    </form>

    <form action="/send_to_pickup" method="post" style="display: inline">
                <input type="hidden" name="price" VALUE="{{ price_sum }}" >
                <input type="submit" VALUE="איסוף עצמי" >
    </form>







{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('shopping_cart.static', filename='js/shopping_cart.js') }}"></script>
{% endblock %}
