{% extends 'base.html' %}

{% set page_head_title = 'Shopping Cart' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('shopping_cart.static', filename='css/shopping_cart.css') }}">
{% endblock %}


{% block page_body_main_content %}

    <div id="greeting">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {{ message }}
                {% endif %}
            {% endwith %}
    </div>

    היי אדון
    כיף לראות אותך עימנו

    העגלה שלך מכילה:

    {% if products %}
        {{ products[0].ProductName }}
    {% endif %}

    <form action="/clear_cart" method="post" name="clear_cart" style="border:none">
            <input id="fourth_small_quantity" type="Submit" name="clear_cart" value="ריקון העגלה">
    </form>


{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('shopping_cart.static', filename='js/shopping_cart.js') }}"></script>
{% endblock %}
